<div class="row titulos-produtos">
  <div class="col-12">
    <h2>Destaques da Semana</h2>
  </div>
</div>

<div class="carrossel">
  <div id="carrossel-cards" class="carousel slide" data-interval="false">

    <div class="carousel-inner ">
      <div class="carousel-item active">

        <div class="grid-row col-12 lslide">

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 1</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 2</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 3</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 4</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="carousel-item ">

        <div class="grid-row col-12 lslide">

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 5</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 6</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 7</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 8</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">

        <div class="grid-row col-12 lslide">

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 9</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 10</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 11</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 12</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">

        <div class="grid-row col-12 lslide">

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 13</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 14</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 15</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Produto Genérico 16</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev btn-left-sup" style="color:#016f33;" href="#carrossel-cards" role="button" data-slide="prev">
      <svg class="" width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
      </svg>
    </a>

    <a class="carousel-control-next" style="color:#016f33;" href="#carrossel-cards" role="button" data-slide="next">
      <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </a>
  </div>
</div>

<!--Segundo carrossel-->
<div class="row titulos-produtos">
  <div class="col-12">
    <h2>Mais Vendidos</h2>
  </div>
</div>

<div class="carrossel">
  <div id="carrossel-cards2" class="carousel slide" data-interval="false">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="grid-row col-12 lslide">

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Epocler</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Cicatricure</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Neutrogena</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Azelan</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="grid-row col-12 lslide">
          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Neovit</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Estomazil</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Rinosoro</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>

          <div class="box-produtos">
            <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
            <div class="detalhe-produto">
              <p>Centrum</p>
              <p>R$ 13,29</p>
              <div>
                <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" style="color:#016f33;" href="#carrossel-cards2" role="button" data-slide="prev">
      <svg class="" width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
      </svg>
    </a>

    <a class="carousel-control-next" style="color:#016f33;" href="#carrossel-cards2" role="button" data-slide="next">
     <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </a>
  </div>
</div>
